USE [master]
GO
/****** Object:  Database [Jobs]    Script Date: 4/14/2020 7:58:22 AM ******/
CREATE DATABASE [Jobs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Jobs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Jobs.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Jobs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Jobs_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Jobs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Jobs]
GO
USE [Jobs]
GO
/****** Object:  SqlAssembly [BTServiceDB]    Script Date: 4/14/2020 7:58:23 AM ******/
CREATE ASSEMBLY [BTServiceDB]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103001383945E0000000000000000E00022200B013000000A00000006000000000000B2290000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000602900004F00000000400000B002000000000000000000000000000000000000006000000C000000282800001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E74657874000000B809000000200000000A000000020000000000000000000000000000200000602E72737263000000B00200000040000000040000000C0000000000000000000000000000400000402E72656C6F6300000C00000000600000000200000010000000000000000000000000000040000042000000000000000000000000000000009429000000000000480000000200050070210000B806000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001B300400E00000000100001100730500000A0A7201000070280600000A74080000010B0772510000706F0700000A0007166A6F0800000A0007280900000A6F0A00000A000772590000706F0B00000A000772590000706F0C00000A00076F0D00000A74090000010C00086F0E00000A0D0009280F00000A731000000A13040011046F1100000A1305731200000A1306110611056F1300000A00281400000A1307178D0E000001130811081672790000701E731500000AA211076F1600000A0000DE0D11042C0811046F1700000A00DC00DE0B092C07096F1700000A00DC00DE0B082C07086F1700000A00DC2A012800000200720044B6000D000000000200640062C6000B0000000002005C0078D4000B000000002202281800000A002A00000042534A4201000100000000000C00000076342E302E33303331390000000005006C00000020020000237E00008C020000E802000023537472696E677300000000740500008000000023555300F405000010000000234755494400000004060000B400000023426C6F620000000000000002000001471402080900000000FA013300160000010000001700000002000000020000001800000004000000010000000100000001000000040000000000850101000000000006002C01240206004C0124020600020111020F004402000006009802BA010A001601D9010600010045000E00C1029F020E00D7009F020600B3011A000600C1011A001200AA0295010A00A900D9010A003000D9010E00C5029F020E0084009F020E0064029F020E00DB009F0206006A01D0020600CE011A000A00DC02D9010A00B100240006009400BA01000000001100000000000100010001001000530200001500010001005020000000009600FA01790001006421000000008618F401060001000900F40101001100F40106001900F4010A003100F40106000C00F40106007900FB002E00790079003400790073013900810081023E007900710243007900BB0034004100B60234007900E70049009100A8014E009900080053005900F4015800A100600060006100F40106006100A0013400A900A00064007100F401690069006A000600B900F30006002900F401060020002300AE002E000B007D002E00130086002E001B00A50010002800048000000000000000000000000000000000CB00000004000000000000000000000070003C000000000004000000000000000000000070002400000000000400000000000000000000007000BA010000000004000000000000000000000070009501000000000000004C6973746031006765745F55544638003C4D6F64756C653E0053797374656D2E494F0053797374656D2E446174610053716C4D65746144617461006D73636F726C69620053797374656D2E436F6C6C656374696F6E732E47656E657269630052656164546F456E640053656E64526573756C7473456E64007365745F4D6574686F640043726564656E7469616C43616368650049446973706F7361626C65006765745F506970650053716C506970650053716C446254797065007365745F436F6E74656E74547970650042545F44617461626173650048747470576562526573706F6E736500476574526573706F6E736500446973706F7365004372656174650044656275676761626C654174747269627574650053716C50726F63656475726541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C69747941747472696275746500456E636F64696E67007365745F436F6E74656E744C656E6774680042545F44617461626173652E646C6C0053797374656D2E586D6C004C6F6164586D6C00476574526573706F6E736553747265616D0053797374656D0053747265616D5265616465720054657874526561646572004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053716C53746F72656450726F6365647572654A6F62730053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053746F72656450726F63656475726573004943726564656E7469616C73007365745F43726564656E7469616C73006765745F44656661756C7443726564656E7469616C73004F626A6563740053797374656D2E4E657400586D6C446F63756D656E74007365745F4163636570740048747470576562526571756573740053797374656D2E546578740053716C436F6E746578740000004F680074007400700073003A002F002F006C006F00630061006C0068006F00730074003A00340034003300370037002F006100700069002F00760031002F006A006F00620073002F0078006D006C000007470045005400001F6100700070006C00690063006100740069006F006E002F0078006D006C000005490044000000F464031CA5FD3841922F4D8DE338C1090004200101080320000105200101111117070915121D0108122112251229122D0E123112351D12390515121D0108050001123D0E042001010E042001010A040000124505200101124504200012490420001229040000124D072002011229124D0320000E0400001235062002010E115908B77A5C561934E089030000010801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301080100070100000000040100000000000000001283945E00000000020000001C01000044280000440A0000525344537E197F375E0B6541BD6789EB083E754801000000433A5C55736572735C4D592050435C736F757263655C7265706F735C425450726F625C42545F44617461626173655C6F626A5C44656275675C42545F44617461626173652E7064620000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000882900000000000000000000A229000000200000000000000000000000000000000000000000000094290000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000540200000000000000000000540234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004B4010000010053007400720069006E006700460069006C00650049006E0066006F0000009001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000040001000010049006E007400650072006E0061006C004E0061006D0065000000420054005F00440061007400610062006100730065002E0064006C006C0000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000004800100001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000420054005F00440061007400610062006100730065002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E003000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000B43900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = UNSAFE
GO
/****** Object:  Table [dbo].[Jobs]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jobs](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Type] [varchar](50) NOT NULL,
	[ProcessedDate] [datetime] NULL,
	[Processed] [bit] NULL,
	[FileAttached] [bit] NOT NULL,
	[File] [varchar](100) NULL,
	[IsDeleted] [bit] NULL,
 CONSTRAINT [PK_Jobs] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[DeleteJob]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DeleteJob]
	@id int,
	@isDeleted bit
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].Jobs
	SET IsDeleted = @isDeleted
	WHERE ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllJobs]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetAllJobs]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT 
		[dbo].Jobs.ID,
		[dbo].Jobs.CreatedDate,
		[dbo].Jobs.[Name],
		[dbo].Jobs.[Type],
		[dbo].Jobs.Processed,
		[dbo].Jobs.ProcessedDate,
		[dbo].Jobs.Processed,
		[dbo].Jobs.FileAttached,
		[dbo].Jobs.[File]
	FROM [dbo].Jobs
END
GO
/****** Object:  StoredProcedure [dbo].[InsertJob]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertJob]
	@name varchar(50),
	@type nvarchar(50),
	@fileAttached bit,
	@file varchar(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].Jobs
	(CreatedDate,
	[Name],
	[Type],
	FileAttached,
	[File])
	VALUES (GETUTCDATE(),
			@name,
			@type,
			@fileAttached,
			@file);

	SELECT CAST(SCOPE_IDENTITY() as int)
END
GO
/****** Object:  StoredProcedure [dbo].[InsertJobs]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[InsertJobs] 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO [dbo].Jobs (CreatedDate, [Name], [Type])
	VALUES (GETUTCDATE(), 'JobName1', 'Notification')
END
GO
/****** Object:  StoredProcedure [dbo].[SelectJobById]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SelectJobById] @id int
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT
	[dbo].Jobs.ID,
	[dbo].Jobs.CreatedDate,
	[dbo].Jobs.[Name],
	[dbo].Jobs.[Type],
	[dbo].Jobs.Processed,
	[dbo].Jobs.ProcessedDate,
	[dbo].Jobs.Processed,
	[dbo].Jobs.FileAttached,
	[dbo].Jobs.[File]
	FROM [dbo].Jobs
	WHERE [dbo].Jobs.ID = @id
END
GO
/****** Object:  StoredProcedure [dbo].[SqlStoredProcedureJobs]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SqlStoredProcedureJobs]
WITH EXECUTE AS CALLER
AS
EXTERNAL NAME [BTServiceDB].[StoredProcedures].[SqlStoredProcedureJobs]
GO
/****** Object:  StoredProcedure [dbo].[UpdateJob]    Script Date: 4/14/2020 7:58:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateJob]
	@id int,
	@name nvarchar,
	@type nvarchar,
	@processedDate datetime,
	@processed bit,
	@fileAttached bit,
	@file nvarchar
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE [dbo].Jobs
	SET	[Name] = @name,
		[Type] = @type,
		ProcessedDate = @processedDate,
		Processed = @processed,
		FileAttached = @fileAttached,
		[File] = @file
	WHERE ID = @id

END
GO
USE [master]
GO
